In [1]:
# Importing Neccessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# Import Dataset
df = pd.read_csv('/content/drive/MyDrive/BSBI/Assignment /strassenverkehrsunfaelle_2021_satensatz.csv', sep=';')

In [3]:
df

                                                                                    OBJECTID;LAND;BEZ;LOR_ab_2021;UJAHR;UMONAT;USTUNDE;UWOCHENTAG;UKATEGORIE;UART;UTYP1;ULICHTVERH;IstRad;IstPKW;IstFuss;IstKrad;IstGkfz;IstSonstige;USTRZUSTAND;LINREFX;LINREFY;XGCSWGS84;YGCSWGS84
219249;11;3;3701658;2021;11;18;2;3;0;3;2;0;1;0;... 0742;5829640 204;13 42689483;52                                         53393955.0
219248;11;7;7501134;2021;12;19;7;3;6;2;2;0;1;1;... 5317;5819049 219;13 39209027;52                                         43995086.0
219247;11;4;4100101;2021;12;17;4;3;5;2;2;0;1;0;... 6128;5829680 195;13 32624193;52                                         53802784.0
219246;11;4;4501041;2021;12;15;7;3;5;2;1;0;1;0;... 0395;5825362 081;13 31652064;52                                         49953417.0
219243;11;11;11501339;2021;12;9;5;3;3;6;0;0;1;0... 01;5825602   793;13 52575163;52                                         49386714.0
...                                                                                                                               ...
112174;11;4;4300414;2021;3;16;4;3;6;2;0;0;1;1;0... 4105;5826555 664;13 29634478;52                                         51100814.0
111541;11;4;4400726;2021;1;1;6;3;9;1;2;0;1;0;0;... 679;5824616  757;13 28949592;52                                         49381321.0
110370;11;3;2400520;2021;1;20;1;3;3;6;2;0;1;0;0... 2122;5828912 431;13 42309463;52                                         52753402.0
109998;11;7;7300619;2021;1;14;7;3;2;6;0;0;1;0;0... 2589;5822739 196;13 35925879;52                                         47436651.0
109753;11;12;12400723;2021;1;14;2;3;5;3;0;0;1;0... 0985;5839010 713;13 31286818;52                                          6224611.0

[11267 rows x 1 columns]

In [11]:
# Info about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11267 entries, 0 to 11266
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OBJECTID     11267 non-null  int64
 1   LAND         11267 non-null  int64
 2   BEZ          11267 non-null  int64
 3   LOR_ab_2021  11266 non-null  float64
 4   UJAHR        11267 non-null  int64
 5   UMONAT       11267 non-null  int64
 6   USTUNDE      11267 non-null  int64
 7   UWOCHENTAG   11267 non-null  int64
 8   UKATEGORIE   11267 non-null  int64
 9   UART         11267 non-null  int64
 10  UTYP1        11267 non-null  int64
 11  ULICHTVERH   11267 non-null  int64
 12  IstRad       11267 non-null  int64
 13  IstPKW       11267 non-null  int64
 14  IstFuss      11267 non-null  int64
 15  IstKrad      11267 non-null  int64
 16  IstGkfz      11267 non-null  int64
 17  IstSonstige  11267 non-null  int64
 18  USTRZUSTAND  11267 non-null  int64
 19  LINREFX      11267 non-null  object
 20  LINREFY      11267 non-null  object
 21  XGCSWGS84    11267 non-null  object
 22  YGCSWGS84    11267 non-null  object
dtypes: float64(1), int64(18), object(4)
memory usage: 2.0+ MB

In [10]:
df.describe()

,OBJECTID,LAND,BEZ,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,UTYP1,ULICHTVERH,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND
count,11267.000000,11267.0,11267.000000,1.126600e+04,11267.0,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000
mean,200048.203870,11.0,5.541227,5.823506e+06,2021.0,7.149996,13.605751,4.069761,2.847697,3.515488,3.880447,0.435697,0.377297,0.802166,0.129582,0.146978,0.030354,0.164019,0.268572
std,34841.735786,0.0,3.478722,3.477900e+06,0.0,3.047300,4.724270,1.808249,0.366908,2.188767,1.938610,0.788147,0.484732,0.398384,0.335858,0.354100,0.171567,0.370309,0.475319
min,109753.000000,11.0,1.000000,1.100101e+06,2021.0,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,210441.500000,11.0,2.000000,2.500835e+06,2021.0,5.000000,10.000000,3.000000,3.000000,2.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,213258.000000,11.0,5.000000,5.200420e+06,2021.0,7.000000,14.000000,4.000000,3.000000,5.000000,3.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,216074.500000,11.0,8.000000,8.200832e+06,2021.0,10.000000,17.000000,6.000000,3.000000,5.000000,6.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,219249.000000,11.0,12.000000,1.260124e+07,2021.0,12.000000,23.000000,7.000000,3.000000,9.000000,7.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000